html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Aldrich', sans-serif!important;
  background: url('/images/gradient.jpeg') right top no-repeat!important;
  background-color: black!important;
  color: white;
  background-size: 100% 100%!important;
  background-position: center top!important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.sidepanel {
  /* background: url('/images/gradient.jpeg') right top no-repeat!important; */
  background: url('/images/background.svg') right top no-repeat!important;
  width: 400px;
  height: 650px;
  margin: 40px;
  border-radius: 60px;
}
.mainpanel {
  /* background: url('/images/gradient.jpeg') right top no-repeat!important; */
  background: url('/images/background.svg') right top no-repeat!important;
  width: 700px;
  height: 400px;
  margin: 40px;
  border-radius: 60px;
}
.toppanel {
  /* background: url('/images/gradient.jpeg') right top no-repeat!important; */
  background: url('/images/background.svg') right top no-repeat!important;
  width: 700px;
  height: 200px;
  margin: 40px;
  border-radius: 60px;
}
.pointer {
  cursor: pointer;
}